<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>24Sessions assignment. Maciej Bal</title>
        <meta name="description" content="24Sessions assignment.">
        <meta name="author" content="Maciej Bal">
    </head>
    <body>
        <p>Your IP is: <span id="ip">{{ ip }}</span></p>
        <p>Country: <span id="country"></span></p>
        <p>City: <span id="city"></span></p>
        <button id="button">Get Geolocation</button>

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"
        >
        </script>
        <script src="web/js/script.js"></script>
    </body>
</html>